@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffff8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffff8;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-et-book), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-primary {
    @apply bg-gray-300 border border-gray-300 text-gray-600 rounded-lg hover:bg-green-900 hover:text-white active:bg-green-900 transition-all duration-300 ease-in-out;
  }
}

@keyframes skeleton-shimmer {
  0% {
    background-position: -200% 200%;
  }
  100% {
    background-position: 200% -200%;
  }
}
